<div class="container-fluid">
  <div class="background-friendli"></div>

  <div class="row animated zoomIn">
    <div class="col-md-6 col-md-offset-3">

      <div class="jumbotron blabber-welcome ">
        <h1>Welcome to Friendli!</h1>

        <p>Friendli gives you the SUPERPOWERS to stay on top of your relationships!</p>
        <a href="/friends"><h1> Click to continue</h1></a>
      </div>
    </div>
  </div>
</div>